.squareCard{
    text-align: center;
    /* border: solid; */
    /* border-color: grey; */
    border-radius: 20px;
    width: max-content;
    margin: 20px;
    box-shadow: 2px 2px 20px #00000059;
}
.noBorder{
    appearance: none;
    margin: 0;
    border: 0;
    -moz-appearance: textfield;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 8px;
}
.enemy{
    color: white;
    background: rgb(166,43,43);
    background: radial-gradient(circle, rgba(166,43,43,1) 36%, rgba(0,0,0,1) 100%);  
}
.ally{
    color: white;
    background: rgb(76,146,44);
    background: radial-gradient(circle, rgba(76,146,44,1) 36%, rgba(0,0,0,1) 100%); 
}
.npc{
    color: white;
    background: rgb(44,103,146);
    background: radial-gradient(circle, rgba(44,103,146,1) 36%, rgba(0,0,0,1) 100%); 
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parent{
    position: relative;
}
.bottom{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.shadow{
    box-shadow: 2px 2px 10px grey;
}
.musicCard{
    background-image: url(images/musicBackground.png);
    background-size: contain;
}
.btnAdd{
    width: 150px;
}
.textarea{
    width: 100%;
    border-radius: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    resize: none;
}

.nav-link{
    color: white;
}

#main{
    /* background-color: rgb(46, 49, 73); */
    background: rgb(46,47,49);
    background: linear-gradient(45deg, rgba(46,47,49,1) 0%, rgba(76,89,105,1) 100%);  
}

input, textarea{
    border-radius: 20px;
    border: none;
    padding: 2px;
    text-align: center;
}

.modal-content{
    background: rgb(50,88,116);
    background: linear-gradient(0deg, rgba(50,88,116,1) 0%, rgba(79,109,131,1) 100%);   
    color: white;
    border: none;
    border-radius: 20px;
    /* width: fit-content; */
    /* min-width: 600px; */
}

.nav-link{
    width: 100%;
}

hr{
    color: white;
}

.musicCard{
    text-align: center;
    color: white;
    margin: 0.2rem;
}

.fightCard{
    background: rgb(133,28,28);
    background: radial-gradient(circle, rgba(133,28,28,1) 30%, rgba(0,0,0,1) 100%); 
}

.explorationCard{
    background: rgb(74,135,35);
    background: radial-gradient(circle, rgba(74,135,35,1) 30%, rgba(0,0,0,1) 100%); 
}

#players{
    display: flex;
}

.iframeYT{
    width: 100%;
    min-height: 200px;
}

.diceCard {
    padding: 10px;
    margin: 1rem;
    color: white;
    background: rgb(50,88,116);
    background: linear-gradient(0deg, rgba(50,88,116,1) 0%, rgba(79,109,131,1) 100%);
    max-height: 95vh;
    overflow: auto;
}

.textareaNote{
    margin-top: 1rem;
    padding: 1rem;
    width: 95%;
    height: 800px;
    text-align: justify;
    background: rgb(50,88,116);
    background: linear-gradient(0deg, rgba(50,88,116,1) 0%, rgba(79,109,131,1) 100%); 
    color: white;
}
  
#navMobile {
    display: none;
}

#navDesktop {
    display: block;
}

#main {
    display: flex;
    align-items: start;
}

.card-random{
    background: rgb(50,88,116);
    background: linear-gradient(0deg, rgba(50,88,116,1) 0%, rgba(79,109,131,1) 100%); 
    color: white;
    margin: 1rem;
    width: 50%;
    height: fit-content;
}

#randomCardContainer{
    display: flex;
}

.randomRow{
    display: flex;
}

.randomCard-header{
    display: flex;
    justify-content: space-between;
}

/* Versione mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .musicCard{
        width: 100%;
    }
    #players{
        display: block;
    }
    #navMobile{
        display: block;
        padding: 1rem;
    }
    #navDesktop {
        display: none;
    }
    #main {
        display: block;
    }
    .nav-link{
        width: auto;
    }
    .card-random{
        background: rgb(50,88,116);
        background: linear-gradient(0deg, rgba(50,88,116,1) 0%, rgba(79,109,131,1) 100%); 
        color: white;
        width: 90%;
        margin: 1rem;
        height: fit-content;
    }
    #randomCardContainer{
        display: block;
    }
    .randomRow{
        display: block;
    }
  }